<header class="container-fluid">
    <div class="row">
    <div class="logo col-5 col-md-2">
        <a href="/"><img src="" alt=""></a>
    </div>
    <div class="col-7 col-md-6 search-container">
        <form action="" class="input-search">
            <input type="text" placeholder="Buscar productos, marcas y más">
            <button><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="col-md-12 col-md-6 cuotas">
        <i class="fas fa-hand-holding-usd"></i><p>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <nav class="navbar-expand-md">
        <button class="navbar-toggler burger" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"aria-controls="navbarSupportedConten"aria-expanded="false"
        aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="menu navbar-nav mr-auto">
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ul>
            <ul class="usuario navbar-nav">
                <li><a href=""><i class="fas fa-sign-in-alt">Ingresa</i></a></li>
                <li><a href=""><i class="far fa-address-card">Crea tu cuenta</i></a></li>
                <li><a href=""><i class="fas fa-shopping-basket">Mis compras</i></a></li>
            </ul>
        </div>
    </nav>
</div>
</header>