<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body>
    <!--Header-->
    <%-include('./partials/header')%>

    <div class="container">
        <section class="detail">
            <div class="row">
                <div class="titulo col-12">
                    <h2>
                        Detalle de producto:
                    </h2>
                </div>
            </div>
        </section>
    </div>

    <!--Footer-->
    <%-include('./partials/footer')%>
    <!--Scripts-->
    <%-include('./partials/scripts')%>
</body>
</html>